@charset "utf-8";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    font-family: 'Mukta', sans-serif;
    font-size: 24px;
    color: #313133;
}
p {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}
body {
    background-color: #F8F7FA;
    background-image: url('imagens/wave3.svg');
    background-repeat: no-repeat; 
}
.container {
    max-width: 1200px;
    margin: 5px auto;
    padding: 20px 40px;
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    width: 905px;
    height: 316px;
    background: linear-gradient(220.94deg, #6F57F9 14.43%, #342680 85.28%);
    backdrop-filter: blur(34px);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.imgperfil img {
    margin-left: 49px;
    margin-right: 54px;
}
.biography {
    margin-right: 35px;
}
.biography h1, p {
    color: 313133;
}
.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.card2{ 
    width: 800px;
    height: 84px;
    margin-bottom: 24px;   
    background: linear-gradient(220.94deg, #6F57F9 14.43%, #342680 85.28%);
    backdrop-filter: blur(32.4956px);
    border-radius: 11.469px;
}

.cardicon{
    width: 800px;
    height: 84px;   
    display: flex;
    align-items: center;
}
.card-icon {
    width: 67.41px;
    height: 70px;
    background: #F6F5FF;
    border-radius: 12px; 
    margin-left: 18px;  
}
.card-text p{
    text-align: center;
    margin-left: 230px;
}
footer {
    margin-top: 25px;
}
.waves {
        position: relative;
        width: 100%;
        height: 15vh;
        margin-bottom: -7px; /*Fix for safari gap*/
        min-height: 100px;
        max-height: 150px;
      }
      .waves--background {
        background-color: #F8F7FA;
    
      }
      .parallax > use {
        animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5)   infinite;
      }
      .parallax > use:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
      }
      .parallax > use:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
      }
      .parallax > use:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
      }
      .parallax > use:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 20s;
      }
      @keyframes move-forever {
        0% {
          transform: translate3d(-90px, 0, 0);
        }
        100% {
          transform: translate3d(85px, 0, 0);
        }
      }
      /*Shrinking for mobile*/
      @media (max-width: 768px) {
        .waves {
          height: 40px;
          min-height: 40px;
        }
      }

