*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, h7, label {
    font-family: 'Mukta', sans-serif;
}
p, p1, p2, p3, p4 {
    font-family: 'Raleway', sans-serif;
}
a{
    font-family: 'Raleway', sans-serif;
}
li{
    font-family: 'Raleway', sans-serif;
}
body{
    background-color: #F6F5FF;
}
.navbar{ 
    font-size: 24px;
    width: 100%;
    background-color: #F6F5FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoname {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    padding: 0 0 0 10px;
    width:  90px;
    height: 90px;
}
.name li {
    padding: 0 0 0 4px;
    text-decoration: none;
    display: block;
}
.menu {
    list-style: none;
    display: flex;
}
.menu li {
    margin: 0px 10px;
}
a{
    text-decoration: none;
    display: block;
    padding: 16px 32px;
    border-radius: 8px;
    color: #202020;
    transition: .5s ease;
}
.container {
    max-width: 1200px;
    margin: 5px auto;
    padding: 20px 40px;
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
}
.text1 h1 {
    font-size: 64px;
    margin-top: 200px;
}
.text1 p {
    font-size: 24px;
}
/*.imgeu { 
    border: 1px solid orange;
    position: absolute;
    margin-left: 182px;
}*/
.fotoeu img{
    width: 500px;
    height: 500px;   
    position: absolute;
    margin: 96px 0 0 120px; 
} 
.retangulo img{
    /*border: 1px solid yellow;*/
    position: absolute;
}
.container2 {
    max-width: 1200px;
    flex-wrap: wrap;
    margin: 255px auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}
.work {
    text-align: center;  
    margin-bottom: 87px;
    font-size: 48px;
}
.iconstext {
    display: flex;   
}
.icon1 {
    text-align: center;
    margin-bottom: 36px;
}
.icon1 img {
    width: 100px;
    height: 100px;    
}
.text {
   /* border: 1px solid blue;*/
    text-align: center;
    align-items: center;
}
.text h3 {
    font-size: 36px;
    margin-bottom: 38px;
}
.text p1 {
    font-size: 24px;
}
.container3 {
    max-width: 1200px;
    margin: 255px auto;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
}
.texts1 {
    margin-left: 5px;
}
.texts1 h4 {
    font-size: 48px;
}
.texts1 p2{
    font-size: 24px;
}
.text2-child {
    display: flex;
}
.icontext {
    margin-top: 43px;
}
.topicostext {
    margin: 39px 0 0 30px;
}
.topicostext h5 {
    font-size: 24px;
}
.topicostext p3 {
    font-size: 20px;
}
.mockup img {
    margin: 30px 0 0 100px;
}
.container4 {
    max-width: 1200px;
    margin: 5px auto;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;  
    flex-wrap: wrap;
}
.product {
    text-align: center;
}
.product h6 {
    font-size: 64px;
    margin-bottom: 38px;
}
.btn-product {
    display: block;
}
.button {
    margin: 0 380px;
    height: 54px;
    border-radius: 16px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 1px solid#6F57F9;
}
.button1 a {
    flex-flow: row wrap;
    justify-content: center;
    border-radius: 16px;       
}
:hover .button1 a {
    background: linear-gradient(220.94deg, #6F57F9 14.43%, #342680 85.28%);
    box-shadow: 0px 18px 52px -16px #5440C1;
    border-radius: 16px;  
}
:hover .button1 a {
    color: #F6F5FF;
}

.button2 a {
    flex-flow: row wrap;
    justify-content: center;
    border-radius: 16px;
}
/*:hover .button2 a {
    background: linear-gradient(220.94deg, #6F57F9 14.43%, #342680 85.28%);
    box-shadow: 0px 18px 52px -16px #5440C1;
    border-radius: 16px;    
}
:hover .button2 a {
    color: #F6F5FF;
}*/
.button3 a {
    flex-flow: row wrap;
    justify-content: center;
    border-radius: 16px;
}
/*:hover .button3 a {
    background: linear-gradient(220.94deg, #6F57F9 14.43%, #342680 85.28%);
box-shadow: 0px 18px 52px -16px #5440C1;
border-radius: 16px;    
}
:hover .button3 a {
    color: #F6F5FF;
}*/
.exemplos {
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    text-align: center;
}
.img-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-retangulo{
    width: 232px;
    height: 232px;
    background: #FAF8F5;
    box-shadow: 0px 168.987px 135.189px rgba(0, 0, 0, 0.07), 0px 50.9446px 40.7557px rgba(0, 0, 0, 0.0456112), 0px 21.1598px 16.9278px rgba(0, 0, 0, 0.035), 0px 7.65308px 6.12246px rgba(0, 0, 0, 0.0243888);
    border-radius: 54.5958px;
    margin-bottom: 38px;
}
.text-exemplo {
    margin-bottom: 100px;
}
.text-exemplo h7 {
    font-size: 24px;
}
.text-exemplo p4 {
    font-size: 16px;
}
.container5 { 
    max-width: 1200px;
    margin: 5px auto;
    padding: 20px 40px;
    display: block;
    flex-direction: row;  
    flex-wrap: wrap;
}
.sobremim h6 {
    font-size: 64px;
    text-align: center;
    margin-bottom: 100px;
}
.eu-text {
    display: flex;
}
.text-topicosqualidade { 
    margin-left: 50px;
}
.title h2 {
    margin-bottom: 8px;
    font-size: 48px;
}
.textsobremim p {
    font-size: 20px;
    margin-bottom: 48px;
}
.topicosqualidade {
    display: flex;
    flex-direction: row;
    margin: 43px 0;
    align-items: center;
}
.topicosqualidade p {
    margin-left: 36px;
    align-items: baseline;
}
.container6 {
    max-width: 1200px;
    margin: 5px auto;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;  
    flex-wrap: wrap;
}
.contato h6 {
    font-size: 48px;
    text-align: center;
    margin: 100px 0 90px 0;
}
.form-img {
    display: flex;
    justify-content: space-between;
}
.formulario label {
    display: block;
    width: 500px;
    margin: 10px 0;
}
.formulario input {
    display: block;
    border: 0px;
    width: 400px;
    height: 56px;
    margin: 10px 0;
    background:white;
    border-radius: 12px; 
}
.formulario textarea {
    display: block;
    width: 400px;
    height: 200px;
    margin: 10px 0;
    background: white;
    border-radius: 12px; 
    border: 0px;
}
.button-contato {
    width: 260px;
    height: 54px;
    background: linear-gradient(220.94deg, #6F57F9 14.43%, #342680 85.28%);
    box-shadow: 0px 18px 52px -16px #5440C1;
    border-radius: 16px;
    margin: 35px 0 0 70px;
}
.button-contato a { 
    color: white;
    text-align: center;
}


