*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5 {
    font-family: 'Mukta', sans-serif;
}
p, p1, p2, p3, p4 {
    font-family: 'Raleway', sans-serif;
}
a{
    font-family: 'Raleway', sans-serif;
}
li{
    font-family: 'Raleway', sans-serif;
}
body{
    background-color: #F6F5FF;
}
.navbar{ 
    font-size: 24px;
    width: 100%;
    background-color: #F6F5FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoname {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    padding: 0 0 0 10px;
    width:  90px;
    height: 90px;
}
.name li {
    padding: 0 0 0 4px;
    text-decoration: none;
    display: block;
}
.menu {
    list-style: none;
    display: flex;
}
.menu li {
    margin: 0px 10px;
}
a{
    text-decoration: none;
    display: block;
    padding: 16px 32px;
    border-radius: 8px;
    color: #202020;
    transition: .5s ease;
}
.container {
    max-width: 1200px;
    margin: 5px auto;
    padding: 20px 40px;
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
}
.text1 h1 {
    font-size: 64px;
    margin-top: 200px;
}
.text1 p {
    font-size: 24px;
}
/*.imgeu { 
    border: 1px solid orange;
    position: absolute;
    margin-left: 182px;
}*/
.fotoeu img{
    width: 500px;
    height: 500px;   
    position: absolute;
    margin: 96px 0 0 120px; 
} 
.retangulo img{
    /*border: 1px solid yellow;*/
    position: absolute;
}
.container2 {
    max-width: 1200px;
    flex-wrap: wrap;
    margin: 255px auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}
.work {
    text-align: center;  
    margin-bottom: 87px;
    font-size: 48px;
}
.iconstext {
    display: flex;   
}
.icon1 {
    text-align: center;
    margin-bottom: 36px;
}
.icon1 img {
    width: 100px;
    height: 100px;    
}
.text {
   /* border: 1px solid blue;*/
    text-align: center;
    align-items: center;
}
.text h3 {
    font-size: 36px;
    margin-bottom: 38px;
}
.text p1 {
    font-size: 24px;
}
.container3 {
    max-width: 1200px;
    margin: 255px auto;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
}
.texts1 {
    margin-left: 5px;
}
.texts1 h4 {
    font-size: 48px;
}
.texts1 p2{
    font-size: 24px;
}
.text2-child {
    display: flex;
}
.icontext {
    margin-top: 43px;
}
.topicostext {
    margin: 39px 0 0 30px;
}
.topicostext h5 {
    font-size: 24px;
}
.topicostext p3 {
    font-size: 20px;
}
.mockup img {
    margin: 30px 0 0 100px;
}




