@charset "utf-8";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    font-family: 'Mukta', sans-serif;
    font-size: 64px;
}
h2{
    font-family: 'Mukta', sans-serif;
    font-size: 36px;
    color: #313133;
}
h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}
h5 {
	font-family: 'Poppins', sans-serif;
	/*transform: translate(-50%, -50%);*/
	font-size: 150px;
}
p, label {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #89898B;
}
a{
    font-family: 'Raleway', sans-serif;
    color: #E4E3E8;
}
li{
    font-family: 'Raleway', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #F8F7FA;
}
header {
    max-width: 1200px;
    margin: 0 auto;
}
.navbar-website h1{
    display: flex;
    justify-content: center;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 12px 18px;
}
.web1 {
    display: flex;
    margin-bottom: 68px;
    
    align-items: center;

    background: #F8F7FA;
    /* shadow / shadow-1 */

    box-shadow: 0px 51px 80px rgba(111, 87, 249, 0.08), 0px 15.375px 24.1177px rgba(111, 87, 249, 0.0521271), 0px 6.38599px 10.0172px rgba(111, 87, 249, 0.04), 0px 2.30969px 3.62304px rgba(111, 87, 249, 0.0278729);
    border-radius: 16px;
}
@media screen and (max-width: 1050px){
    .web1, .web2, .web3, .web4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    } 
}
.web1 img {
    margin-right: 88px;
    display: flex;
}
@media screen and (max-width: 1050px){
    .web1 img{
        width: 100%;
        margin: 0 auto;
    } 
}
.text{
    padding: 12px 24px;
}
.text p {
    margin-bottom: 32px;
}
@media screen and (max-width: 1050px){
    .text p{
        padding: 12px 12px;
        width: 100%;
        margin: 0 auto;
    }
}
.btn-img {
    display: flex;
    align-items: center;
}
@media screen and (max-width: 1050px){
    .btn-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.btn-web1 {
    background: linear-gradient(220.94deg, #6F57F9 14.43%, #342680 85.28%);
    border-radius: 16px;

    margin-right: 18px;
    
    text-decoration: none;
    padding: 12px 24px;
}
.web2 {
    display: flex;
    margin-bottom: 68px;
    
    align-items: center;

    background: #F8F7FA;
    /* shadow / shadow-1 */

    box-shadow: 0px 51px 80px rgba(111, 87, 249, 0.08), 0px 15.375px 24.1177px rgba(111, 87, 249, 0.0521271), 0px 6.38599px 10.0172px rgba(111, 87, 249, 0.04), 0px 2.30969px 3.62304px rgba(111, 87, 249, 0.0278729);
    border-radius: 16px;
}
.web2 img {
    margin-right: 88px;
    display: flex;
}
@media screen and (max-width: 1050px){
    .web2 img{
        width: 100%;
        margin: 0 auto;
    } 
}
.btn-web2 {
    background: linear-gradient(220.94deg, #6F57F9 14.43%, #342680 85.28%);
    border-radius: 16px;

    text-decoration: none;
    padding: 12px 24px;
}
.web3 {
    display: flex;
    margin-bottom: 68px;
    
    align-items: center;

    background: #F8F7FA;
    /* shadow / shadow-1 */

    box-shadow: 0px 51px 80px rgba(111, 87, 249, 0.08), 0px 15.375px 24.1177px rgba(111, 87, 249, 0.0521271), 0px 6.38599px 10.0172px rgba(111, 87, 249, 0.04), 0px 2.30969px 3.62304px rgba(111, 87, 249, 0.0278729);
    border-radius: 16px;
}
.web3 img {
    margin-right: 88px;
    display: flex;
}
@media screen and (max-width: 1050px){
    .web3 img{
        width: 100%;
        margin: 0 auto;
    } 
}
.btn-web3 {
    background: linear-gradient(220.94deg, #6F57F9 14.43%, #342680 85.28%);
    border-radius: 16px;

    text-decoration: none;
    padding: 12px 24px;
}
.web4 {
    display: flex;
    margin-bottom: 68px;
    
    align-items: center;

    background: #F8F7FA;
    /* shadow / shadow-1 */

    box-shadow: 0px 51px 80px rgba(111, 87, 249, 0.08), 0px 15.375px 24.1177px rgba(111, 87, 249, 0.0521271), 0px 6.38599px 10.0172px rgba(111, 87, 249, 0.04), 0px 2.30969px 3.62304px rgba(111, 87, 249, 0.0278729);
    border-radius: 16px;
}
.web4 img {
    margin-right: 88px;
    display: flex;
}
@media screen and (max-width: 1050px){
    .web4 img{
        width: 100%;
        margin: 0 auto;
    } 
}
.btn-web4 {
    background: linear-gradient(220.94deg, #6F57F9 14.43%, #342680 85.28%);
    border-radius: 16px;

    text-decoration: none;
    padding: 12px 24px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(220.94deg, #6F57F9 14.43%, #342680 85.28%);

    margin-top: 80px;
}
.logoname {
    display: flex;
    padding: 12px 24px;
    justify-content: space-between;
    align-items: center; 
    text-align: center;
}
.logoname p {
    margin-left: 16px;
    color: #F8F7FA;
}
.links-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;  
}
.links-footer a {
    text-decoration: none;
   list-style: none;
   padding: 6px 8px;
}
.links-footer ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    
}
.links-footer li {
    margin-right: 4px;
    color:#F8F7FA;
    
}
.social-footer{
    padding: 12px 16px;
    display: flex;
}
.social-footer img {
    margin: 4px;
}

@media (max-width: 1050px) {
    .footer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .logoname{
        padding: 0px 10px;
    }
    .logoname p{
        display: none;
    }  
    .logoname {
        align-items: center;
        text-align: center;
    }      
    .links-footer {
        align-items: center;
        text-align: center;
    }
    .links-footer ul {
        display: flex;
        flex-direction: column;
    }
    .social-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
  }
